    <nav class="">
        <div class="">

        <a class="" href="" target="">
            <img class="" src="" alt="Metahapax TM">
        </a>
        
        <ul class="">
            <!--NOTA A CORRECTORES DE IGUAL FORMA QUE HICE CON EL BOTON "REDES" TENDRIA QUE HABER HECHO UN @MEDIA PARA DISPOSITIVOS PEQUEÑOS DONDE EL LOGO FUESE EL BOTON QUE DESPLEGASE LOS DEMAS BOTONES QUE FIGURAN EN EL NAV (REDES, NOSOTROS, SHOW), POR CUESTIONES DE TIEMPO DECIDI DEJARLO ASI-->
            <li class=""><a class="link" target="" href="#nosotros">Nosotros</a></li>
            <li class=""><a class="link" target="" href="#ProximasFechas">shows</a></li>
            <li class=""><a class="link" target="_blank" href="">Redes</a>
                <ul class="">
                    <li class="">
                        <a class="link" target="_blank" href="https://www.youtube.com/channel/UCkkjK3LjWKyQ-Z1L-bG0_bw">Youtube</a>
                    </li>
                    <li class="">
                        <a class="link" target="_blank" href="https://www.instagram.com/meta_hapax/?hl=es-la">Instagram</a>
                    </li>
                    <li class="">
                        <a class="link" target="_blank" href="https://wa.me/1136433983">Whatsapp</a>
                    </li>
                </ul>
            </li>
        </ul>
    
        </div>
    </nav>